
html, 
body {
    margin:0px;
    padding:0px;
    height:100%;
    width:100%;
    text-rendering:optimizeLegibility;
    font-family: 'Noto Sans', sans-serif;
	font-weight:400;
	word-wrap:normal;
	background-color: #f5f5f5;
}

h1, h2{
	margin: 0;
}

body{
	display: table;
    height: 100%;
    width: 100%;
}

#three div{
  display: inline-block;
  position: relative;
}

form{
	display: inline;
}

.header .menu{
	width: inherit;
	height: 100%;
 	vertical-align: middle;
	display: table-cell;
}

.header .menu li{
	line-height:6em;
	width: 8em;
	float:left;
	margin-right: .5%;
	margin-left: .5%;
	text-align: center;
	display: inline-block;
	list-style-type: none;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
}

.main{
	width: 100%;
	text-align: center;
}

.slicknav_menu {
  display: none;
}

#mmenu {
  display: none;
}

.header .menu div a, a:visited{
	display:inline-block;
	text-decoration: none;
	vertical-align: middle;
	margin-top: 1%;
	margin-bottom: 1%;
	line-height: 2.5em;
	width: 6em;
	color: inherit;
	background-color: inherit;
}

.header{
	float: left;
	width: 100%;
	background-color: #C62828;
	color: #fff;
	font-size: .8em;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
}

ul, ol {
	list-style:none;
	margin: 0;
}
			
.nav > li {
	float:left;
	line-height: 3em;
}
			
.nav li a {
	background-color: #C62828;
	color:#fff;
	text-decoration:none;
	padding:12px 12px;
	display:block;
}
			
.nav li a:hover {
	background-color:#434343;
}
			
.nav li ul {
	display:none;
	position:absolute;	
}

.header .inside-img{
	padding-top: 12%;
}

.header .inside-img img{
	line-height: 3em;
	height: 50px;
	float: left;
}
			
.nav li:hover > ul {
	display:block;
}
		
.nav li ul li {
	position:relative;
}

#slider{
	display: block;
	position: relative;
	background-size:auto, cover;
	color: white;
	overflow: hidden;
}

#slider img{
	height: 100%;
	width: 100%;
}

#one .container{
	margin-right: 25%;
	margin-left: 25%;
}

#one .container .content p{
	font-size: 1.5em;
}

#one .container .content p a{
	text-decoration: none;
}

.main .container .content{
	vertical-align: middle;
	padding-top: 5%;
	padding-bottom: 5%;
}

.main .container .content p{
	text-align: left;
}

#two .container{
	margin-right: 10%;
	margin-left: 10%;
}

#two .content{
	width: 100%;
}

#two .col{
	vertical-align: middle;
	width: 40%;
	height: 5%;
	padding-right: 5%;
	padding-left: 5%;
	float: left;
}

#two .container div{
  display: inline-block;
}

#two .col p{
	text-align: left;
	height: 55px;
	overflow: hidden;
	font-size: .9em;
}

#two a, a:visited{
	text-align: left;
	text-decoration: none;
	vertical-align: middle;
	color: inherit;
	background-color: inherit;
}

#two h1{
	text-align: left;
	font-size: 1.7em;
}

#two h2{
	text-align: left;
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.3em;
	font-weight: 700;
}

#two .col .inside-img{
	width: 30%;
	float: left;
	vertical-align: middle;
}

#two .col .inside-text{
	width: 70%;
	float: left;
}

.main .container .content p{
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
}

.main .container .parallax{
	height: 200px;
}

#sec2{
	display: block;
	position: relative;
	background: url('gyeongbokgung1.jpg') no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	background-attachment: fixed;
}

#sec3{
	display: block;
	position: relative;
	background: url('gyeongbokgung2.jpg') no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	background-attachment: fixed;
}

#sec4{
	display: block;
	position: relative;
	background: url('gyeongbokgung3.jpg');
	background-size: cover;
	text-align: center;
	color: white;
	background-attachment: fixed;
}

#two .col .pad{
	padding-top: 20px;
}

#two .col .pad a button{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #798EE0;
	border-width: 0px;	
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	font-size: 2.1em;
}

#two .col .pad .btn1{
	color: white;
	background-color: #C92020;
	transition: 0.5s;	
}

#two .col .pad .btn1:hover{
	color: #fff;
	background-color: #434343;
	transition: 0.5s;	
}

#two .col .pad .btn2{
	color: white;
	background-color: #798EE0;
	transition: 0.5s;	
}

#two .col .pad .btn2:hover{
	color: #fff;
	background-color: #434343;
	transition: 0.5s;	
}

#two .col .pad a, a:visited{
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: inherit;
	background-color: inherit;

}

#two .content h2{
	text-align: left;
	
}

#two .content a {
  text-align: left;
  margin-bottom: 5%;
}

#three .content h1, h2{
	text-align: left;
		
}

#three .content p b{
	color: #1E2B9E;
}

#three .content a{
	color: inherit;
	background-color: inherit;	
}

#three .content form .input{
	width: 97%;
	margin-bottom: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-style: solid;
	border-width: 5px;
	border-color: #1E2B9E;
}

#three .content form .submit{
	width: 100%;
	border-style: solid;
	border-width: 5px;
	font-size: 1.5em;
	vertical-align: middle;
	border-color: #990100;
	background-color: #fff;	
	transition: 0.5s;
}

#three .content form .submit:hover{
	background-color: #B90504;
	color: #fff;
	transition: 0.5s;	
}

#three .container{
	margin-right: 25%;
	margin-left: 25%;
}

.footer{
	background-color: #19191d;
	color: #434343;
	display: table-row;
	height: 100px;
    font-size: 1.1em;
}

.footer .container{
	width: 50%;
	margin: 1% auto;
}

#aviso{
	width: 47.5%;
	padding-left: 10%;
	height: 100%;
	float: left;
	text-align: right;
}

#aviso h5{
	width: 35%;
	height: 100%;
	float: left;
	text-align: center;
}

#aviso #color{
	color: #fff;
}

#nuva{
	width: 30%;
	height: 100%;
	float: right;

}

.footer a{
  text-decoration: none;
  background-color: inherit;
  color: inherit;
}

#two .list{
	vertical-align: middle;
	width: 100%;
	float: left;
}

#two .list .inside-img{
	width: 15%;
	float: left;
	vertical-align: middle;
}

#two .list .inside-text{
	width: 85%;
	float: left;
}

#two .inside-img img{
	width:90%;
	height:90%;
}

#two .edit{
	width: 100%;
	float: left;
	margin: 1.5% auto;
}

#two .new{
	width: 100%;
	float: left;
	padding-top: 5%;
	padding-bottom: 5%;
}

#two .new a{
	margin: 0;
	padding: 0;
	background-color: #C62828;
	color: #fff;
	border-width: 1px;
	border-color: #000; 
	padding: 0.2em 0.5em;
	margin-right: 1px;
	transition: 0.5s;
}

#two .new a:hover{
	background-color: #434343;
	transition: 0.5s;	
}

#two .list2{
	vertical-align: middle;
	width: 100%;
	float: left;
}

#two .list2 .inside-text{
	width: 100%;
	float: left;
}

#two .list .logo{
	width: 25%;
	float: left;
	vertical-align: middle;
}

#two .list .text{
	width: 100%;
}

#two .board{
	vertical-align: middle;
	width: 19%;
	padding-right: .5%;
	padding-left: .5%;
	float: left;
}

#two .board-img{
	float: left;
	  margin: 1%;
}

#two .board-img img{
	width: 100%;

}

#two .board .board-text{
	width: 100%;
	float: left;
}

#two .list p{
	text-align: left;
	height: 65px;
	overflow: hidden;
	font-size: 1em;
}

#two .left-cont{
	width: 20%;
	display: inline-table;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 1%;
	color: #fff;
	background-color: rgba(48,79,254,0.8); 
}

#two .left-cont h3{
	text-align: left;
	font-size: .8em;
}

#two .left-cont p{
	text-align: left;
}

#two .pad{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

#two .left-cont button{
	width: 50%;
	color: #fff;
	font-size: 1.5em;
	border-width: 2px;
	border-color: #fff;
	line-height: 1.5em;
	border-style: solid;
	background-color: rgba(48,79,254,0.1);
}

#two .right-cont{
	width: 74%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	float: right;
	text-align: left;
}

#two .right-cont h1{
	font-size: 2em;
	text-align: center;
	line-height: 2;
}

#two .right-cont p{
	font-size: 1.2em;
}

#two .right-cont img{
	height: 50%;
	width: 48%;
	padding-left: 1%;
	padding-right: 1%;
	float: left;
}


#two .show-cont{
	width: 90%;
	margin: 0 auto;
}

#two .show-cont h1{
	font-size: 2em;
	text-align: center;
	line-height: 2;
}

#two .show-cont p{
	font-size: 1.1em;
}

#two .show-cont button{
	width: 25%;
	color: #fff;
	font-size: 1.5em;
	border-width: 2px;
	border-color: #fff;
	line-height: 1.5em;
	border-style: solid;
	background-color: rgb(48,79,254);
}

#two .show-cont .images img{
	height: 50%;
	width: 48%;
	padding: 1%;
	float: left;
}

hr.first {
    height: 20px;
    margin-bottom: -31px;
    border-style: solid;
    border-color: black;
    border-width: 2px 0 0 0;
    border-radius: 20px;
}
hr.second { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 20px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 2px 0;
    border-radius: 20px;
}

hr.third {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.main2{
	
}

.main2 .container .content{
	vertical-align: middle;
	padding-top: 5%;
	padding-bottom: 5%;
}

#two .form{
	width: 40%;
	margin: 0 auto;
}

#two .form .field{
	width: 100%;
}

#two .form .field input{
	width: 100%;
	margin-bottom: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-style: solid;
	border-width: 5px;
	border-color: #1E2B9E;
}

#two .form .field textarea{
	width: 100%;
	height: 200px;
	margin-bottom: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-style: solid;
	border-width: 5px;
	border-color: #1E2B9E;
}

#two .form .actions input{
	width: 100%;
	border-style: solid;
	border-width: 5px;
	font-size: 1.5em;
	vertical-align: middle;
	border-color: #990100;
	background-color: #fff;	
	transition: 0.5s;
}

#two .form .actions input:hover{
	background-color: #B90504;
	color: #fff;
	transition: 0.5s;	
}

.digg_pagination {
  background: white;
  cursor: default;
  float: right;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #000; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #C62828;
    color: white;
    border: 1px solid #000; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #000; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

#two .log{
	width: 40%;
	margin: 10% auto;
	padding-bottom: 2.5%;
	background-color: #C62828;
	color: #fff;
}

#two .log h1{
	text-align: center;
	margin-bottom: 10%;
}

#two .log .field{
	width: 100%;
}

#two .log .input input{
	width: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: #1E2B9E;
	font-size: 1em;
}

#two .log .submit{
	width: 51%;
	margin: auto;
}

#two .log .check{
	width: 25%;
	margin: 3% auto;
}

#two .log .submit input{
	width: 100%;
	border-style: solid;
	border-width: 3px;
	font-size: 1em;
	vertical-align: middle;
	border-color: #1E2B9E;
	background-color: #fff;	
	transition: 0.5s;
}

#two .log .submit input:hover{
	background-color: #434343;
	color: #fff;
	transition: 0.5s;	
}

.cent-h{
	text-align: center;
}

 .baner-inicio{
	width: 100%;
	display: inline-block;
	background: url('bg.png') no-repeat;
	background-size: cover;
	color: white;
}

 .baner-inicio h1{
	width: 40%;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	font-size: 2em;
}

 .baner-inicio h2{
	width: 40%;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
}

.baner-inicio .marg{
	margin: 18.8% auto;
}

#two .baner-beca{
	width: 100%;
	display: block;
	background: url('scholarship.png');
	background-size: cover;
	color: white;
	margin-bottom: 5%;
}

#two .baner-beca h1{
	width: 100%;
	margin: 8% auto;
	text-align: center;
	font-size: 3em;
}

#two .baner-consejo{
	width: 100%;
	display: block;
	background: url('prearrivals.png');
	background-size: cover;
	color: white;
	margin-bottom: 5%;
}

#two .baner-consejo h1{
	width: 100%;
	margin: 8% auto;
	text-align: center;
	font-size: 3em;
}

#two .baner-vida{
	width: 100%;
	display: block;
	background: url('life.png');
	background-size: cover;
	color: white;
	margin-bottom: 5%;
}

#two .baner-vida h1{
	width: 100%;
	margin: 8% auto;
	text-align: center;
	font-size: 3em;
}

#two .baner-practicas{
	width: 100%;
	display: block;
	background: url('job.png');
	background-size: cover;
	color: white;
	margin-bottom: 5%;
}

#two .baner-practicas h1{
	width: 100%;
	margin: 8% auto;
	text-align: center;
	font-size: 3em;
}

#two .baner-tramites{
	width: 100%;
	display: block;
	background: url('formalities.png');
	background-size: cover;
	color: white;
	margin-bottom: 5%;
}

#two .baner-tramites h1{
	width: 100%;
	margin: 8% auto;
	text-align: center;
	font-size: 3em;
}

#two .baner-noticia{
	width: 100%;
	display: block;
	background: url('noticias2.png');
	background-size: cover;
	color: white;
	margin-bottom: 5%;
}

#two .baner-noticia h1{
	width: 100%;
	margin: 8% auto;
	text-align: center;
	font-size: 3em;
}

#two .baner-actividad{
	width: 100%;
	display: block;
	background: url('activities.png');
	background-size: cover;
	color: white;
	margin-bottom: 5%;
}

#two .baner-actividad h1{
	width: 100%;
	margin: 8% auto;
	text-align: center;
	font-size: 3em;
}

#two .baner-link{
	width: 100%;
	display: block;
	background: url('seoul.png');
	background-size: cover;
	color: white;
	margin-bottom: 5%;
}

#two .baner-link h1{
	width: 100%;
	margin: 8% auto;
	text-align: center;
	font-size: 3em;
}

#two .show-cont img {
  height: 100%;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  float: left;
}

#two .list2 .inside-text p{
	height: 65px;
	overflow: hidden;
}

#two .col .not-text{
	width: 100%;
	float: left;
}

#two .panel{
	width: 60%;
	margin: 10% auto;
}

#two #users .mail{
	width: 40%;
	margin-right: 5%;
	float:left;
}

#two #users .option{
	width: 20%;
	margin-right: 7.5%;
	float:left;
}

#two #users{
	text-align: left;
	width: 80%;
	margin: 2.5% auto;
}

#two #users .new-2 a{
  margin: 0;
  padding: 0;
  background-color: #C62828;
  color: #fff;
  border-width: 1px;
  border-color: #000;
  margin-right: 1px;
  transition: 0.5s;
}

#two #users .new-2 a:hover{
	background-color: #434343;
	transition: 0.5s;	
}

#two .log-2 {
  width: 40%;
  margin: 0% auto;
  padding-bottom: 2.5%;
  background-color: #C62828;
  color: #fff;
}

#two #users .new-2 #op-1 a {
 	padding: 0.2em 1.65em;
}

#two #users .new-2 #op-2 a {
 	padding: 0.2em 1em;
}

.sitemap{
	margin: 0;
	padding: 0;
	color: #fff;
	float: left;
	width: 100%;
	height: 100%;
	font-size: 1.2em;
	background-color: #19191d;
}

.sitemap .column{
	width: 21.5%;
	margin: 0 auto;
	padding: 0;
}

.sitemap .column .links a{
	text-decoration: none;
	transition: 0.5s;
}

.sitemap .column .links a:hover{
	text-decoration: none;
	background-color: #fff;
	color:#19191d;
	transition: 0.5s;
}

.sitemap .column .links ul li a{
	text-decoration: none;
}

.sitemap .column .links ul{
	margin: 1% auto;
}

.sitemap .column .links li{
	margin: 1% auto;
}



@media screen and (max-width: 1050px){

	#one .container{
		margin-left: 10%;
		margin-right: 10%;
	}

	#two .col{
		width: 90%;
	}

	#sec2 {
	  	background-size: initial;
	}

	#sec3 {
	  	background-size: initial; 	
	}

	#two h2{
		font-size: 1.7em;
	}

	#two .col p{
		font-size: 1.2em;
	  	height: 80px;
	}

	#three .content h1{
		font-size: 2.5em;
	}

	#three p{
		font-size: 1.2em;
	}

	#three .container{
		margin-left: 15%;
		margin-right: 15%;
	} 

	#two .left-cont{
		width: 30%
	}


	#two .right-cont{
		width: 64%;
	}

	#two .list .inside-img{
		width: 25%;

	}

	#two .list .inside-text{
		width: 75%;

	}
	#two .list p{
		font-size: 1.2em;
		 height: 80px;
	}

	#two .left-cont p {
	  	font-size: 1em;
	}

	#two .right-cont p{
		font-size: 1.3em;
	}

	#two .right-cont h1{
		font-size: 2.5em;
		line-height: 70px;
	}

	#two .show-cont p {
	  	font-size: 1.3em;
	}	

	#two .show-cont h1 {
		font-size: 2.5em;
	  	line-height: 70px;
	}

	#two .list2 .inside-text p{
		font-size: 1.2em;
		height: 80px;

	}

	#two .left-cont h3 {
	  	text-align: left;
	  	font-size: 1em;
	}

	#two .list2 .inside-text a{
		font-size: 1.3em;
	}

	#two .board {
	  	width: 32%;
	  	padding-right: .66%;
	  	padding-left: .66%;
	}

	.main .container .parallax {
	  	height: 150px;
	}

	#two .baner-beca h1{
		font-size: 2em;
  		margin: 7% auto;
	}

	#two .baner-consejo h1{
		font-size: 2em;
  		margin: 7% auto;
	}

	#two .baner-vida h1{
		font-size: 2em;
  		margin: 7% auto;
	}

	#two .baner-practicas h1{
		font-size: 2em;
  		margin: 7% auto;
	}

	#two .baner-tramites h1{
		font-size: 2em;
  		margin: 7% auto;
	}

	#two .baner-noticia h1{
		font-size: 2em;
  		margin: 7% auto;
	}

	#two .baner-actividad h1{
		  font-size: 2em;
		  margin: 7% auto;
	}

	#two .baner-link h1{
		font-size: 2em;
  		margin: 7% auto;
	}

	#two .log{
	width: 80%;
	margin: 20% auto;
	padding-bottom: 2.5%;
	background-color: #C62828;
	color: #fff;
	}

	#two #users {
		width: 100%;
		font-size: 1em;
	}

	.sitemap .column{
		width: 33.5%;
		margin: 0 auto;
		padding: 0;
	}

	.baner-inicio h1{
		font-size: 1.2em;

	}

	.baner-inicio h2{
		font-size: .9em;

	}

	.baner-inicio .marg{
		margin: 19.2% auto;
	}

}

@media screen and (max-width: 768px) {

	#mmenu {
		display: none;
	}

	.slicknav_menu {
	    display: block;
	  }

	.header{
		display: none;
	}

	#two .col .inside-img {
	  	width: 0%;
	 	float: left;
	  	vertical-align: middle;
	}

	#two .col .inside-text {
	  	width: 100%;
	  	float: left;
	}

	#two .left-cont {
	  	width: 100%;
		margin-left: 0%;
  		margin-right: 0%;
  		padding-left: 0%;
  		padding-right: 0%;
	}

	#two .right-cont {
		margin-left: 0%; 
		margin-right: 0%;
		margin-top: 0%;
		width: 100%;
	  	float: left;
	}

	#two .left-cont h3{
		margin-left: 5%; 
		margin-right: 5%;
	}

	#two .list .inside-img {
	  	width: 0%;
	}

	#two .list .inside-text {
		width: 100%;
	}

	#two .panel {
  		width: 80%;
  		margin: 25% auto;
	}

	#aviso {
  		width: 60%;
  		padding-left: 0%;
	}

	.sitemap .column{
		width: 44.5%;
		margin: 0 auto;
		padding: 0;
	}

	.baner-inicio h1{
		width: 41%;

	}

	.baner-inicio .marg{
		margin: 18% auto;
	}

}

@media screen and (max-width: 670px) {

	#aviso h5 {
		width: 45%;
	}

	.sitemap .column{
		width: 52.5%;
		margin: 0 auto;
		padding: 0;
	}

	.baner-inicio .marg{
		margin: 17.5% auto;
	}

	.baner-inicio {
		width: 100%;
		display: inline-block;
		background: url("bg-2.png") no-repeat;
		background-size: cover;
		color: white;
	}

	.baner-inicio h1{
		width: 70%;
		text-align: center;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 2em;
	}

	.baner-inicio h2{
		width: 70%;
		text-align: center;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1.2em;
	}

}

@media screen and (max-width: 414px) {


	#one .container .content p {
	  	font-size: 1.2em;
	}

	#two h1 {
	  	font-size: 2em;
	}

	#two .col{
	  	height: 50%;
	}

	#two .col .pad .btn1 {
  		font-size: 1.2em;
  	}

  	#two .col .pad .btn2 {
  		font-size: 1.2em;
  	}

  	#two .col {
  		width: 100%;
	}

	#two .col {
	  	padding-right: 0%; 
	  	padding-left: 0%; 
	}

	#two .col p {
	  	font-size: 1em;
	  	height: 200px;
	}

	#two h2 {
	  	font-size: 1.7em;
	}

	#three .content form .input {
	  	width: 90%;
	  	font-size: 1.5em;
	}

	#three .content form .submit {
		width: 95%;
	  	font-size: 1.5em;
	}

	#three .content h1 {
		font-size: 1.5em;
	}

	#three p {
		font-size: 1.25em;
	}

	#three .content h2 {
	  	font-size: 1.5em;
	}

	#three .container {
	  	margin-left: 10%;
	  	margin-right: 10%;
	}

	#two .board {
	  	width: 100%;
	}

	#two .list2 .inside-text p {
	    font-size: 1em;
  		height: 300px;
	}

	#two .list .inside-text p {
	  	font-size: 1em;
  		height: 200px;
	}

	#two .baner-beca h1{
		font-size: 2em;
		margin: 18% auto;
	}

	#two .baner-consejo h1{
		font-size: 2em;
		margin: 18% auto;
	}

	#two .baner-vida h1{
		font-size: 2em;
		margin: 18% auto;
	}

	#two .baner-practicas h1{
		font-size: 2em;
		margin: 18% auto;
	}

	#two .baner-tramites h1{
		font-size: 2em;
		margin: 18% auto;
	}

	#two .baner-noticia h1{
		font-size: 2em;
		margin: 18% auto;
	}

	#two .baner-actividad h1{
		font-size: 2em;
		margin: 18% auto;
	}

	#two .baner-link h1{
		font-size: 2em;
		margin: 18% auto;
	}

	#two .left-cont {
	  	width: 100%;
		margin-left: 0%;
  		margin-right: 0%;
  		padding-left: 0%;
  		padding-right: 0%;
	}

	#two .right-cont {
		margin-left: 0%; 
		margin-right: 0%;
		margin-top: 0%; 
		width: 100%;
	  	float: left;
	}
	#two .left-cont p {
	  	font-size: 1em;
	}


	#two .board-img{
	  	margin-right: 20%;
	  	margin-left: 20%;
	  	margin-bottom: 5%;
	}

	#two .left-cont h3 {
	  	width: 95%;
	  	margin: 2.5% auto;
	  	font-size: 1em;
	}

	#two .right-cont h1 {
	  	font-size: 2.5em;
	  	text-align: center;
	  	line-height: 80px;
	}

	#two .right-cont p {
	  	font-size: 1em;
	}

	#two .show-cont {
	  	width: 100%;
	}

	#two .show-cont p {
	  	font-size: 1em;
	}

	#two .show-cont h1 {
	  	font-size: 2.5em;
	  	line-height: 80px;
	  	text-align: center;
	}

	.footer{
		font-size: 1.5em;
		line-height: normal;
	}

	#aviso {
	  	width: 100%;
	  	padding: 0;
	}

	#aviso h5 {
	  	width: 100%;
	  	margin-top: 5%;
	  	margin-bottom: 0;
	  	font-size: .7em;
	}

	#nuva {
	  	margin-right: 40%;
	 	margin-left: 40%;
	 	margin-top: 5%;
	}

	#two .board .board-text h3{
		font-size: 1.25em;
	}

	#two .left-cont button {
	  	font-size: 1.5em;
	}

	#two .right-cont img {
	  	height: 100%;
	  	width: 98%;
	  	padding: 1%;
	}

	#two .show-cont button {
		font-size: 1.5em;
		width: initial;
	}

	#two .show-cont .images img {
	  	height: 100%;
	  	width: 98%;
	  	padding: 1%;
	  	float: left;
	}

	#two .edit {
	  	font-size: 1em;
	}

	#two h4 {
	  	font-size: 1.25em;
	  	margin-bottom: 1em;
  	  	margin-top: 1em;
	}

	#two .new {
	  	font-size: 1.25em;
	}

	#two .edit {
	  	padding-top: 2%;
	  	padding-bottom: 2%;
	}

	#two .col .pad a, a:visited {
		padding: 0;
	}

	#two #users {
  		text-align: center;
	}

	#two #users .mail {
  		width: 100%;
  		margin: 2.5% auto;
	}

	#two #users .option {
		width: 50%;
		margin: 5% auto;
		float: left;
	}

	#two #users .option a{
		width: 3em;
	}

	#two .log-2 {
		width: 100%;
	}

	#two .panel {
		margin: 10% auto;
	}

	#two .new {
		padding-top: 10%;
		padding-bottom: 10%;
	}

	#two .log {
		width: 100%;
	}

	.sitemap .column{
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}

	.baner-inicio .marg{
		margin: 17.5% auto;
	}


	.baner-inicio h1{
		width: 70%;
		text-align: center;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1.2em;
	}

	.baner-inicio h2{
		width: 70%;
		text-align: center;
		margin-left: 15%;
		margin-right: 15%;
		font-size: .9em;
	}

}

@media screen and (max-width: 320px) {

	#three .container {
	  	margin-left: 5%;
	  	margin-right: 5%;
	}

	#nuva {
	  	margin-right: 45%;
	  	margin-top: 5%;
	}

	.baner-inicio .marg{
		margin: 17% auto;
	}


	.baner-inicio h1{
		font-size: 1em;
	}

	.baner-inicio h2{
		width: 70%;
		text-align: center;
		margin-left: 15%;
		margin-right: 15%;
		font-size: .8em;
	}

}